Checks: '-*,-clang-diagnostic-error,readability-identifier-naming'
WarningsAsErrors: '*'
CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,           value: lower_case }
  - { key: readability-identifier-naming.ClassCase,               value: CamelCase  }
  - { key: readability-identifier-naming.VariableCase,            value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberCase,       value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberSuffix,     value: _ }
  - { key: readability-identifier-naming.StructCase,              value: CamelCase  }
  - { key: readability-identifier-naming.StructSuffix,            value: _t  }
  - { key: readability-identifier-naming.ParameterCase,           value: lower_case  }
  - { key: readability-identifier-naming.FunctionCase,            value: CamelCase  }
  - { key: readability-identifier-naming.MacroDefinition,         value: UPPER_CASE }
  - { key: readability-identifier-naming.EnumConstantCase,        value: CamelCase }
  - { key: readability-identifier-naming.EnumConstantPrefix,      value: k }
  - { key: readability-identifier-naming.ConstantMemberCase,      value: CamelCase }
  - { key: readability-identifier-naming.ConstantMemberPrefix,    value: k }
  - { key: readability-identifier-naming.ClassConstantCase,       value: CamelCase }
  - { key: readability-identifier-naming.ClassConstantPrefix,     value: k }
  - { key: readability-identifier-naming.GlobalConstantCase,      value: CamelCase }
  - { key: readability-identifier-naming.GlobalConstantPrefix,    value: k }
  - { key: readability-identifier-naming.LocalConstantCase,       value: CamelCase }
  - { key: readability-identifier-naming.LocalConstantPrefix,     value: k }
  - { key: readability-identifier-naming.StaticConstantCase,      value: CamelCase }
  - { key: readability-identifier-naming.StaticConstantPrefix,    value: k }
  - { key: readability-identifier-naming.ConstantCase,            value: CamelCase }
  - { key: readability-identifier-naming.ConstantPrefix,          value: k }