projects/*
projects/**/build

!projects/hello_world
!projects/hyperload

demos/**/build
library/static_libraries/*
!library/static_libraries/keep_folder

tools/**/*
!tools/cpplint
!tools/FlashMagic
!tools/Hercules.exe
!tools/link_projects.sh
!tools/presubmit.sh
!tools/putty32.exe
!tools/putty64.exe

**/*.gch
**/*.gcno
**/.gdb_history
**/.DS_Store
**/flash.txt
**/env.sh
**/env.mk
**/default.profraw
archive/
build/
.idea/
**/*/.vscode
.vscode
