firmware/*
firmware/**/build
firmware/**/makefile

!firmware/library
!firmware/HelloWorld

tools/Hyperload
tools/Telemetry
tools/gcc-arm-none-eabi-*

**/*.gch
**/*.gcno
**/.gdb_history
**/.DS_Store
**/flash.txt
**/env.sh
archive/
.idea/