# Source the LPC17xx configuration file
source [find target/lpc17xx.cfg]

# JTAG Clock rate in kHz
# lower this if you are getting glitches
adapter_khz 4000

$_TARGETNAME configure -rtos FreeRTOS -event gdb-attach {
   halt
   reset init
}

